@model Wedblob.Web.Models.ContentFragment

<section id="@Model.Data.navigationId" class="feed">
    <h2 class="section-header">
        @Model.Data.navigationTitle
    </h2>

    <div class="container">
        <div class="row">
            <p class="feed-intro text-center col-sm-8 col-sm-offset-2">
                Tag your <em>Instagram</em> photos of our wedding with <strong>#@(Model.Data.instagramTag)</strong> to see them here!
            </p>
        </div>

        <div class="row">
            <div id="freewall"></div>
            <button class="load-more-images btn btn-primary col-xs-12 col-md-8 col-md-offset-2">Show me more images</button>
        </div>
    </div>



    @{
        Html.AddScriptBlock((string)("var instagramUrl = \"https://api.instagram.com/v1/tags/"+Model.Data.instagramTag+"/media/recent?client_id="+Model.Data.instagramClientId+"&callback=?\";"));
        Html.AddScriptFile("~/Content/lib/freewall/1.0.5/freewall.js");
        Html.AddScriptFile("~/Content/js/feed.js");

     }

</section>