@model Wedblob.Web.Models.ContentFragment

<section id="@Model.Data.navigationId" class="rsvp">

    <script type="text/x-jqote-template" id="resultItemTemplate">
        <![CDATA[
        <%
        var everyoneResponded = false;
        for(var i=0; i<this.guests.length;i++){
            var hasResponded = this.guests[i].attending === true || this.guests[i].attending === false;
            everyoneResponded = everyoneResponded || hasResponded;
        }
        %>
        <li class="<%=everyoneResponded?'responded':data.length===1?'detail':''%>">
            <div class="row row-container col-xs-offset-0 col-xs-12 col-md-offset-1 col-md-10 col-lg-8 col-lg-offset-2">
                <div class="row header-row">
                    <div class="col-xs-6 col-sm-5 col-sm-offset-1 name-col"><%=this.groupName %>
                    </div>
                    <div class="col-xs-6 col-sm-5 attending-col">
                        <span class="detail-only">Will you be attending? <span class="required">*</span></span>
                    </div>
                </div>
                <%var anyDetailsToSend = false;%>

                <%for(var i=0; i<this.guests.length;i++){ %>
                <%var isAttendingUnknown = this.guests[i].attending !== true && this.guests[i].attending !== false;%>
                <%var isNameUnknown = !this.guests[i].name;%>

                <div class="row guest-row">

                    <div class="col-xs-6 col-sm-5 col-sm-offset-1 name-col">
                        <input type="hidden" name="id" value="<%=this.guests[i].id%>"/>
                        <%if(isNameUnknown && isAttendingUnknown){%>
                        <span class="overview-only guest-placeholder">guest</span>
                        <input class="guest-input detail-only" type="text" name="name" placeholder="guest" />
                        <%}else if(isNameUnknown && !isAttendingUnknown){%>
                        <span class="guest-placeholder">guest</span>
                        <%} else{%>
                        <%=this.guests[i].name%>
                        <%}%>
                    </div>
                    <div class="col-xs-6 col-sm-5 attending-col">
                        <%if(i==0){%>
                        <div class="overview-only detail-button-container">
                            <button class="btn btn-primary detail-button">RSVP</button>
                        </div>
                        <%}%>

                        <%if(this.guests[i].attending === true){%>
                        <span class="attending-answer detail-only">Yes, with pleasure</span>
                        <%}else if(this.guests[i].attending === false){%>
                        <span class="attending-answer detail-only">No, with regret</span>
                        <%}else{%>
                        <div class="detail-only">
                            <select name="attending">
                                <option value="true">Yes, with pleasure</option>
                                <option value="false">No, with regrets</option>
                            </select>
                        </div>
                        <%}%>
                            
                    </div>
                </div>

                <%}%>

                <div class="row footer-row">
                    <div class="col-xs-6 col-xs-offset-6 col-sm-5 col-sm-offset-6 attending-col">
                        <button class="btn btn-primary send-button detail-only ladda-button" data-style="slide-left">send</button>
                    </div>
                </div>
            </div>
        </li>
            ]]>
    </script>

    <h2 class="section-header">@Model.Data.navigationTitle</h2>

    <div class="container">
      
            <p class="intro-instructions">We are excited to see you! Any questions email us at: <br/><span class="email">@Model.Data.emailAddress</span></p>
            
        <form class="search-form form-horizontal">
                <input id="tagInput" type="hidden" value="" />

                <div class="row">
                    
                        <p class="search-instructions">Search for your name then click RSVP to respond.</p>
                    
                </div>
               
               
                <div class="row">
                        <label for="nameInput" class="col-sm-2 col-sm-offset-1 control-label"><span class="no-break">Name <span class="required">*</span></span></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control search-input" />

                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary ladda-button search-button" data-style="slide-left" disabled="disabled">search</button>
                        </div>
                    </div>
           
            </form>
            
            
            <div class="row search-results">
                <p class="header matching" data-text="Guests matching &quot;{0}&quot;"></p>
                <p class="header no-matching" data-text="Sorry there are no matches for &quot;{0}&quot;. &lt;/br&gt;Please search again."></p>
                <ul class="search-result-items list-unstyled"></ul>
            </div>

            @{
                Html.AddScriptFile("~/Content/lib/ladda/0.9.8/ladda.comb.min.js");
                Html.AddScriptFile("~/Content/lib/jqote2/0.9.8/jquery.jqote2.min.js");
                Html.AddScriptFile("~/Content/js/rsvp.js");
            }



        </div>
</section>